<header>
    <img src="https://fontmeme.com/permalink/190215/6ee2e31b9b5dcf749991369a3b36383f.png" alt="dragon-ball-z-font" border="0">
</header>

<!-- Portfolio Section -->
<br><br>
<div class="row">
    {{#each character}}
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{this.name}}</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
