<div class="container center_div">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <br><br>
                    <fieldset>
                        <br>
                        <legend class="text-center header">Submit Data</legend>

                        <div class="form-group">
                            <label for="name">Character Name</label>
                            <input id="name" name="name" type="text"
                            placeholder="Character Name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="species">Character Species</label>
                            <select class="form-control" id="species">
                                <option>Unknown</option>
                                <option>Saiyan</option>
                                <option>Namekian</option>
                                <option>Human</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="gender">Character Gender</label>
                            <select class="form-control" id="gender">
                                <option>-</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Genderless</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="status">Character Status</label>
                            <select class="form-control" id="status">
                                <option>Unknown</option>
                                <option>Alive</option>
                                <option>Dead</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="forms">Alternate Forms</label>
                            <select class="form-control" id="forms">
                                <option>-</option>
                                <option>?</option>
                                <option>?</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="planet">Character Planet of Origin</label>
                            <select class="form-control" id="planet">
                                <option>Unknown</option>
                                {{#each planet}}
                                    <option>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="series">Series</label>
                            <select class="form-control" id="series">
                                <option>-</option>
                                <option>DragonBall</option>
                                <option>Z</option>
                                <option>GT</option>
                                <option>Super</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="image">Character Image</label>
                            <input type="file" class="form-control-file" id="image">
                        </div>

                        <br>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit"
                                class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div><br>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
