<div class="container center_div">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST" action="/character">
                    <br><br>
                    <fieldset>
                        <br>
                        <legend class="text-center header">Submit Data</legend>

                        <div class="form-group">
                            <label for="name">Character Name</label>
                            <input id="name" name="name" type="text"
                            placeholder="Character Name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="species">Character Species</label>
                            <select name="species" class="form-control" id="species">
                                <option value="unknown">Unknown</option>
                                <option value="Saiyan">Saiyan</option>
                                <option value="Namekian">Namekian</option>
                                <option value="Human">Human</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="gender">Character Gender</label>
                            <select name="gender" class="form-control" id="gender">
                                <option>-</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Genderless">Genderless</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="status">Character Status</label>
                            <select name="status" class="form-control" id="status">
                                <option value="unknown">Unknown</option>
                                <option value="Alive">Alive</option>
                                <option value="Dead">Dead</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="forms">Alternate Forms</label>
                            <select name="forms" class="form-control" id="forms">
                                <option></option>
                                <option>?</option>
                                <option>?</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="planet">Character Planet of Origin</label>
                            <select name="originPlanet" class="form-control" id="planet">
                                <option>Unknown</option>
                                {{#each planet}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="series">Series</label>
                            <select name="series" class="form-control" id="series">
                                <option>-</option>
                                <option value="DragonBall">DragonBall</option>
                                <option value="Z">Z</option>
                                <option value="GT">GT</option>
                                <option value="Super">Super</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="image">Character Image</label>
                            <input name="image" type="file" class="form-control-file" id="image">
                        </div>

                        <br>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit"
                                class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div><br>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
